[
    {"blog_summary_big", [
        {width, 800},
        {height, 500},
        {quality, 70},
        {extent, false},
        upscale,
        crop
    ]},
    {"blog_summary", [
        {width, 170},
        {height, 113},
        {quality, 70},
        {extent, true},
        crop
    ]},
    {"blog_article", [
        {width, 800},
        {height, 400},
        {quality, 70},
        upscale,
        crop
    ]},
    {"blog_media", [
        {width, 800},
        {quality, 100}
    ]}
].
